/*=============== ACCORDION ===============*/
.accordion {
  display: grid;
  align-content: center;
}

.accordion__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--Background---White);
  gap: 20px;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.accordion__title {
  color: var(--Text-Primary);
  font: var(--Title);
  margin: 0;
  user-select: none;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 16px;
  gap: 10px;
}

.accordion__description {
  color: var(--Background---White, #fff);
  font: var(--Body_text_18);
  margin: 0;
}

.accordion__icon {
  font-size: 24px;
  height: max-content;
  color: var(--Background---White);
  padding: 8px;
  background-color: var(--Primary-200);
  border-radius: 50%;
  transition: 0.3s;

  @include tablet {
    font-size: 16px;
  }
}

.accordion__item {
  display: flex;
  padding: 36px 56px;
  flex-direction: column;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid rgba(176, 176, 192, 0.3);
  position: relative;
  transition: var(--transition);
  background-color: var(--Background---White);
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}

/*Rotate icon and add font weight to titles*/
.accordion-open .accordion__icon {
  transform: rotate(45deg);
  background-color: var(--Background---White);
  color: var(--Primary-200);
}

.accordion-open .accordion__title {
  color: var(--Background---White);
}
.accordion-open.accordion__item {
  background-color: var(--Primary-200);
}
