/*=============== ACCORDION ===============*/
.accordion {
  display: grid;
  align-content: center;
}

.accordion__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--Background---White);
  gap: 20px;
}

.accordion__title {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: 400;
  margin: 0;
  transition: 0.2s;

}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordion__description {
  padding: 0 1.25rem 1.25rem 3rem;
  font-size: var(--smaller-font-size);
}

.accordion__icon {
  font-size: 1.5rem;
  height: max-content;
  color: var(--title-color);
  transition: 0.3s;
}

.accordion__item {
  display: flex;
  padding: 36px 56px;
  flex-direction: column;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid rgba(176, 176, 192, 0.3);
  position: relative;
  transition: var(--transition);
  background-color: var(--Background---White);
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}

/*Rotate icon and add font weight to titles*/
.accordion-open .accordion__icon {
  transform: rotate(45deg);
}

.accordion-open .accordion__title {
  font-weight: 600;
}
