.students {
  margin-top: 240px;

  &__first {
    display: flex;
    flex-direction: column;
    margin-bottom: 59px;
  }

  &__span {
    color: var(--Outline-dark);
    font: var(--Subtitle_1);
    text-transform: uppercase;
  }

  &__title {
    color: var(--Text-Primary, #181b32);
    font: var(--H2);
    margin: 4px 0 0 0;
  }
  &__swiper {
    min-width: 0;
  }
  &__header {
    @include desktop-small {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__slide {
    display: flex;
    gap: 128px;
    align-items: center;
    padding-bottom: 50px;
    @include desktop-small {
      flex-direction: column;
      gap: 50px;
    }
  }
  &__img {
    z-index: 15;
    height: 100%;

    @include desktop-small {
      height: 400px;
      object-fit: contain;
    }
  }
  &__name {
    color: var(--Text-Primary, #181b32);
    font: var(--H3);
    margin: 0 0 19px 0;
  }

  &__level {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    @include desktop-small {
      margin-bottom: 25px;
    }
  }

  &__educ {
    color: var(--Body-text);
    font: var(--Body_text_18);
    margin: 0;
  }

  &__desc {
    color: var(--Text-Primary, #181b32);
    font: var(--H4);
    margin: 0;

    @include desktop-small {
      max-width: 700px;
    }
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--Primary-200);
}


